@{
    ViewData["Title"] = "Home Page";
}
@if (!User.IsInRole(WebConstants.EmployeeRole) && !User.IsInRole(WebConstants.AdminRole))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to HotelManager</h1>
        <p>In order to make reservations first you have to <a href="/Identity/Account/Register">register</a></p>
        <p>Already have an account? <a href="/Identity/Account/Login">Log In</a> and start making reservations now!</p>
    </div>
}

@if (User.IsInRole(WebConstants.EmployeeRole))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to HotelManager</h1>
    </div>
    <div class="btn-toolbar col-lg-12" style="width:600px; margin:0 auto;">
        <p>
            <a href="/Customers" class="btn btn-info" role="button">Go to Customers table</a>
            <a href="/Rooms" class="btn btn-info" role="button">Go to Rooms table</a>
            <a href="/Reservations" class="btn btn-info" role="button">Go to Reservations table</a>
        </p>
    </div>
}

@if (User.IsInRole(WebConstants.AdminRole))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to HotelManager</h1>
    </div>
    <div class="btn-toolbar col-lg-12" style="width:1000px; margin:0 auto;">
        <p>
            <a href="/Customers" class="btn btn-info" role="button">Go to Customers table</a>
            <a href="/Rooms" class="btn btn-info" role="button">Go to Rooms table</a>
            <a href="/Reservations" class="btn btn-info" role="button">Go to Reservations table</a>
            <a href="/EmployeesAdmin" class="btn btn-info" role="button">Go to Employees table</a>
            <a href="/Identity/Account/Register" class="btn btn-info" role="button">Go to Create Admin User</a>
        </p>
    </div>
}
