@model ReservationViewModel

<div>
    <label>Id: </label> <span>@Model.Id</span>
</div>
<div>
    @*TODO: Make ReservationsController*@
    <a asp-controller="Reservations" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Go to reservation</a>
</div>
<div>
    <label>Arrival: </label> <span>@Model.Arrival.ToString("d")</span>
</div>
<div>
    <label>Departure: </label> <span>@Model.Departure.ToString("d")</span>
</div>
<div>
    <label>Total Sum: </label> <span>$@Model.TotalSum</span>
</div>

